<!-- Header -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homepage</title>
    <!-- Css for localhost -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Css for live page -->
    <link rel="stylesheet" href="{{ "css/style.css" | relURL}}">
  </head>
  <body>

    <header>
      <img src="{{ .Params.banner.image }}" alt="">
    </header>

    <main>
      <img src="{{ .Params.image }}">
      <div class="intro">
        <h1>{{ .Title }}</h1>
        <h2>{{ .Params.subtitle }}</h2>
        <a class="btn" href="{{ .Params.blurb.link }}">Link Away</a>
      </div>
      <div class="spotify">
        <audio controls src="{{ .Params.blurb.spotify }}"></audio>
      </div>
    </main>

    <footer>
      <img src="{{ .Params.footer.image }}" alt="">
    </footer>

  </body>
</html>