<!-- Header -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homepage</title>
    <!-- Css for localhost -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Css for live page -->
    <link rel="stylesheet" href="{{ "css/style.css" | relURL}}">
  </head>
  <body>
    <!-- {{ partial "heading" .}} -->

    <div class="intro">
      <h1>{{ .Title }}</h1>
      <h2>{{ .Params.subtitle }}</h2>
      <a class="btn" href="{{ .Params.blurb.link }}">Link Away</a>
    </div>
    <img src="{{ .Params.image }}">
    <div class="spotify">
      <audio controls src="{{ .Params.blurb.spotify }}"></audio>
      <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6Au9UDzjeGFen7qMEDKju7?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/52qTK7CEx1Vso4Evkx6ZCM?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> -->
    </div>

    <!-- {{ partial "social" . }} -->

    <!-- {{ .Params.blurb.heading }} -->

    <!-- {{ partial "footer" .}} -->
  </body>
</html>