<!-- Header -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homepage</title>
  </head>
  <!-- Homepage -->
  <body>
    <div class="intro">
      <h1>Hi. This is my name</h1>
      <h2>Here's something about me.</h2>
    </div>
    {{ .Title }}
    {{ .Params.subtitle }}
    <img src="{{ .Params.image }}">
    {{ .Params.blurb.heading }}

    <!-- Load in social partial -->
    {{ partial "social" . }}
    <!-- Load in the footer -->
    {{ partial "footer" .}}
  </body>
</html>